Get the average temporal correlation values of all the spontaneous activities in one exp for 2 cells

In [47]:
# ec_id = 511510650
eid = 501836392 #501886692 three_session_B 501836392 three_session_A 501717543 three_session_C
c1 = 517419703 
c2 = 517419533 
use_events = True

In [48]:
import os
drive_path = '/media/stephen/Brain20191/allen-brain-observatory/visual-coding-2p/'
if not os.path.isdir(drive_path):
    drive_path = '/media/alihamodi/Brain2019/allen-brain-observatory/visual-coding-2p/'
    
import warnings;
warnings.simplefilter('ignore');
import os
import pandas as pd
from allensdk.core.brain_observatory_cache import BrainObservatoryCache
import allensdk.brain_observatory.stimulus_info as stim_info
from utils.data_wrappers import *
from utils.polardata import *
from utils.polarplot import *
manifest_file = os.path.join(drive_path,'manifest.json')
boc = BrainObservatoryCache(manifest_file=manifest_file)

In [49]:
import math
data_set = boc.get_ophys_experiment_data(eid)

try: 
    cidxs = data_set.get_cell_specimen_indices([c1, c2])
except Exception as inst:
    print(inst)

if use_events:
  events = boc.get_ophys_experiment_events(ophys_experiment_id=eid)
  cidx1 = cidxs[0]
  cidx2 = cidxs[1]
  events1 = events[cidx1,:]
  events2 = events[cidx2,:]
else: 
  timestamps, dff = data_set.get_dff_traces(cell_specimen_ids=[c1])
  events1 = dff[0,:]
  timestamps, dff = data_set.get_dff_traces(cell_specimen_ids=[c2])
  events2 = dff[1,:]
"""
'natural_movie_one',
'natural_movie_three',
'natural_movie_two',
'spontaneous'
"""
stim_table = data_set.get_stimulus_table('natural_movie_one') 
# spontaneous
# Each item is a temporal correlation of a single spontaneous presentation
temp_corr_lists = []
# Each row in stim table for the movie is a frame of a particular trial
# Trial number = repeat. 
for trial_i in range(stim_table.repeat.max() + 1):
    start = stim_table[stim_table.repeat==trial_i].start.min()
    end = stim_table[stim_table.repeat==trial_i].start.max()
    ts1 = events1[start:end]
    ts2 = events2[start:end]
    temp_corr, p_value = pearsonr(ts1, ts2)
    if math.isnan(temp_corr):
        continue
    temp_corr_lists.append(temp_corr)
    print(trial_i, temp_corr)
if len(temp_corr_lists) == 0:
    return None
return np.mean(temp_corr_lists)

0 -0.0036791408933685484
1 -0.0030731212399439465
2 -0.003121774462440617
3 -0.002695464221437613
4 -0.006340035571979338
5 -0.004020608482217043
6 -0.0011074197120708765
7 -0.004556807560653523
9 -0.003036713312617691

SyntaxError: 'return' outside function (<ipython-input-49-4b9458c65099>, line 43)

In [7]:
from utils.data_wrappers import *
avg_temp_corr_one_exp(boc, eid, c1, c2)

-0.0019509815338686607

In [16]:

stim_table = data_set.get_stimulus_table('natural_movie_one')

In [42]:
stim_table[stim_table.repeat==4]

      frame  start    end  repeat
3600      0  42385  42385       4
3601      1  42386  42386       4
3602      2  42387  42387       4
3603      3  42388  42388       4
3604      4  42389  42389       4
3605      5  42390  42391       4
3606      6  42391  42392       4
3607      7  42392  42393       4
3608      8  42393  42394       4
3609      9  42394  42395       4
3610     10  42395  42396       4
3611     11  42396  42397       4
3612     12  42397  42398       4
3613     13  42398  42399       4
3614     14  42399  42400       4
3615     15  42400  42401       4
3616     16  42401  42402       4
3617     17  42402  42403       4
3618     18  42403  42404       4
3619     19  42404  42405       4
3620     20  42405  42406       4
3621     21  42406  42407       4
3622     22  42407  42408       4
3623     23  42408  42409       4
3624     24  42409  42410       4
3625     25  42410  42411       4
3626     26  42411  42412       4
3627     27  42412  42413       4
3628     28  42413  42414       4
3629     29  42414  42415       4
...     ...    ...    ...     ...
4470    870  43260  43261       4
4471    871  43261  43262       4
4472    872  43262  43263       4
4473    873  43263  43264       4
4474    874  43264  43265       4
4475    875  43265  43266       4
4476    876  43266  43267       4
4477    877  43267  43268       4
4478    878  43268  43269       4
4479    879  43269  43270       4
4480    880  43270  43271       4
4481    881  43271  43272       4
4482    882  43272  43273       4
4483    883  43273  43274       4
4484    884  43274  43275       4
4485    885  43275  43276       4
4486    886  43276  43277       4
4487    887  43277  43278       4
4488    888  43278  43279       4
4489    889  43279  43280       4
4490    890  43280  43281       4
4491    891  43281  43282       4
4492    892  43282  43283       4
4493    893  43283  43284       4
4494    894  43284  43285       4
4495    895  43285  43286       4
4496    896  43286  43287       4
4497    897  43287  43288       4
4498    898  43288  43289       4
4499    899  43289  43290       4

[900 rows x 4 columns]